{% for answer in answer_list %}
<a id="answer_{{ answer.id }}"></a>
<div style="margin-top:30px;">
    <div class="card">
        <div class="card-body">
            <div>{{ answer.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge text-dark bg-light text-start">
                    <div>
                        {{ answer.user.username }}
                    </div>
                    <div>{{ answer.created_at }}</div>
                </div>
            </div>
            <div class="answer-list-box">
                <a href=""><i class="fa-solid fa-comment"></i> 댓글 </a>
                <a class="recommend" href="javascript:void(0)" data-uri="{{ url_for('answer.vote', answer_id=answer.id) }}"> | <i class="fa-solid fa-thumbs-up"></i> 추천 <span> {{ answer.voter|length }}</span></a>
                {% if current_user.nickname == answer.user.nickname %}
                <a href="{{ url_for('answer.update', answer_id=answer.id) }}">| <i class="fa-solid fa-pen"></i> 수정</a>
                <a class="delete" href="#" data-uri="{{ url_for('answer.delete', answer_id=answer.id) }}">| <i class="fa-solid fa-trash"></i> 삭제 </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% block script %}
<script>
    const answerRecommendBtns = document.querySelectorAll('div.answer-list-box a.recommend');
    const answerDeleteBtns = document.querySelectorAll('div.answer-list-box a.delete');

    Array.from(answerRecommendBtns).forEach(element => element.addEventListener('click', function() {
        if (confirm('추천하시겠습니까?')) {
            location.href = this.dataset.uri;
        }
    }))
    answerDeleteBtns.forEach(element => element.addEventListener('click', function() {
        if (confirm('정말 삭제하시겠습니까?')) {
            location.href = this.dataset.uri;
        }
    }))    
</script>
{% endblock %}