{% extends 'base.html' %}
{% block content %}

<div class="question-list-container">
    <div class="row">
        <!-- question navigation -->        
        {% include '/snippets/question_list_nav.html' %}
        <!-- question 등록 -->
        <div class="col-10 question-list-table">
            <div class="question-detail-subject">
                <h2>{{ question.subject }}</h2>
                <div class="badge text-dark bg-light">
                    <span>{{ question.user.username }}</span>&nbsp;&nbsp;
                    <span>{{ question.created_at }}</span>
                </div>
            </div>
            <div style="margin-top: 20px;">
                {{ question.content }}
            </div>
            <div class="question-detail-btn-box">
                <span class="list btn btn-dark" data-uri="{{ url_for('question.list') }}">목록</span>
                {% if current_user.username == question.user.username %}
                <span class="update btn btn-secondary" data-uri="{{ url_for('question.update', question_id=question.id) }}">
                    수정
                </span>
                <span class="delete btn btn-dark" data-uri="{{ url_for('question.delete', question_id=question.id) }}">삭제</span>
                {% endif %}
            </div>

            <!-- answer -->
            <h3 class="answer-numbers-title">
                {{ answer_list|length }}개의 답변이 있습니다
            </h3>

            <!-- answer create -->
            {% include '/answer/create.html' %}

            <!-- answer list -->
            {% include '/answer/list.html' %}


        </div>
    </div>
</div>

{% endblock %}
