{% extends 'base.html' %}
{% block content %}

<div class="question-list-container">
    <div class="row">
        <!-- question navigation -->        
        {% include '/snippets/question_list_nav.html' %}
        <!-- question 등록 -->
        <div class="col-10 question-list-table">
            <div class="question-detail-subject">
                <h2>{{ question.subject }}</h2>
                <div class="badge text-dark bg-light">
                    <span>{{ question.user.username }}</span>&nbsp;&nbsp;
                    <span>{{ question.created_at }}</span>
                </div>
            </div>
            <div style="margin-top: 20px;">
                {{ question.content }}
            </div>

            <div class="question-detail-btn-box">
                <a class="comment" href="javascript:void(0)" data-uri="" style="color: rgb(141, 138, 138);">
                    <i class="fa-solid fa-comment" ></i> 댓글 
                </a>    
                <a class="recommend" href="javascript:void(0)" data-uri="{{ url_for('question.vote', question_id=question.id) }}" style="color: rgb(141, 138, 138);">
                    | <i class="fa-solid fa-thumbs-up"></i> 추천 {{ question.voter|length }}
                </a>                
                {% if current_user.nickname == question.user.nickname %}
                <a class="update" href="javascript:void(0)" data-uri="{{ url_for('question.update', question_id=question.id) }}">
                    | <i class="fa-solid fa-pen"></i> 수정
                </a>
                <a class="delete" href="javascript:void(0)" data-uri="{{ url_for('question.delete', question_id=question.id) }}">
                    | <i class="fa-solid fa-trash"></i> 삭제</span>
                </a>
                {% endif %}
            </div>

            <!-- 댓글입력 -->
            <div class="comment-box hidden">
                <textarea class="form-control" name="comment-content" id="question-comment" rows="1"></textarea>
                <div class="d-flex justify-content-end mt-2">
                    <button>댓글저장</button>
                </div>
            </div>


            <!-- 댓글확인 -->
            <div style="display: flex; border-bottom: solid 1px var(--app-color); padding: 10px; font-size: 12px;">
                <span>이상하네염</span>
                <span>- 유민수님</span>&nbsp;
                <span><i class="fa-solid fa-clock"></i>2024.04.30</span>
                <div style="margin-left: 10px;">
                    <a href="">대댓글</a>
                    <a href="">추천</a>
                    <a href="">수정</a>
                    <a href="">삭제</a>
                </div>
            </div>
            <div style="display: flex; border-bottom: solid 1px var(--app-color); padding: 10px; font-size: 12px;">
                <span>이상하네염</span>
                <span>- 유민수님</span>&nbsp;
                <span><i class="fa-solid fa-clock"></i>2024.04.30</span>
                <div style="margin-left: 10px;">
                    <a href="">대댓글</a>
                    <a href="">추천</a>
                    <a href="">수정</a>
                    <a href="">삭제</a>
                </div>
            </div>



            <div class="d-flex justify-content-end mt-4">
                <span class="list btn btn-dark" data-uri="{{ url_for('question.list') }}">목록</span>
            </div>

            <!-- answer -->
            <h3 class="answer-numbers-title">
                {{ answer_list|length }}개의 답변이 있습니다
            </h3>

            <!-- answer create -->
            {% include '/answer/create.html' %}

            <!-- answer list -->
            {% include '/answer/list.html' %}


        </div>
    </div>
</div>

<form id="q-comm-form" action="{{ url_for('comment.create', question_id=question.id) }}" method="post">
    <input type="hidden" type="text" id="q-com-input" name="comment">
</form>

{% endblock %}
