{% extends 'base.html' %}
{% block content %}

<div class="question-list-container">
    <div class="row">
        <!-- question navigation -->
        {% include '/snippets/question_list_nav.html' %}
        <!-- question 표 -->
        <div class="col-10 question-list-table">
            <h2>질의응답</h2>
            <table class="table">
                <thead>
                    <tr class="table-dark row">
                        <td class="col-1" style="text-align: center;">번호</td>
                        <td class="col-5" style="text-align: center;">제목</td>
                        <td class="col-2" style="text-align: center;">작성자</td>
                        <td class="col-2" style="text-align: center;">조회</td>
                        <td class="col-2" style="text-align: center;">날짜</td>
                    </tr>
                </thead>
                <tbody>
                    {% for question in question_list %}
                    <tr class="row">
                        <td class="col-1" style="text-align: center;">{{ loop.index }}</td>
                        <td class="col-5">
                            <a href="{{ url_for('question.detail', question_id=question.id) }}">
                                {{ question.subject }}
                            </a>
                            <span style="color: rgb(172, 167, 167); font-size: 12px;">
                                {{ question.answer_set|length }}
                            </span>
                        </td>
                        <td class="col-2" style="text-align: center;">{{ question.user.username }}</td>
                        <td class="col-2" style="text-align: center;">anony</td>
                        <td class="col-2" style="text-align: center;">{{ question.created_at|datetime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if current_user.is_authenticated %}
            <div class="question-create-btn">
                <a class="btn btn-dark" href="{{ url_for('question.create') }}">등록</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}