{% extends 'base.html' %}
{% block content %}

<div class="question-list-container">
    <div class="row">
        <!-- question navigation -->
        {% include '/snippets/question_list_nav.html' %}
        <!-- question 표 -->
        <div class="col-10 question-list-table">
            <div class="question-list-table-titlebox">
                <h2>질의응답</h2>

                <!-- 검색버튼 클릭 ->  -->
                <div>
                    <input type="text" style="height: inherit;" id="search_kw" value="{{ kw or '' }}">
                    <button class="btn btn-dark" id="btn-search">검색</button>
                </div>

            </div>
            <table class="table">
                <thead>
                    <tr class="table-dark row">
                        <td class="col-1" style="text-align: center;">번호</td>
                        <td class="col-5" style="text-align: center;">제목</td>
                        <td class="col-2" style="text-align: center;">작성자</td>
                        <td class="col-2" style="text-align: center;">조회</td>
                        <td class="col-2" style="text-align: center;">날짜</td>
                    </tr>
                </thead>
                <tbody>
                    {% for question in question_list %}
                    <tr class="row">
                        <td class="col-1" style="text-align: center;">{{ loop.index }}</td>
                        <td class="col-5">
                            <a href="{{ url_for('question.detail', question_id=question.id) }}">
                                {{ question.subject }}
                            </a>
                            <span style="color: rgb(172, 167, 167); font-size: 12px;">
                                {{ question.answer_set|length }}
                            </span>
                        </td>
                        <td class="col-2" style="text-align: center;">{{ question.user.username }}</td>
                        <td class="col-2" style="text-align: center;">anony</td>
                        <td class="col-2" style="text-align: center;">{{ question.created_at|datetime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- paging -->
            {% include '/snippets/pagination_question.html' %}
            

            {% if current_user.is_authenticated %}
            <div class="question-create-btn">
                <a class="btn btn-dark" href="{{ url_for('question.create') }}">등록</a>
            </div>
            {% endif %}            
        </div>
    </div>
</div>

<form id="search-form" method="get" action="{{ url_for('question.list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

{% endblock %}
{% block script %}
<script>
    const pageElements = document.getElementsByClassName("page-link");    
    Array.from(pageElements).forEach(element => {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('search-form').submit();
        })
    })
    const btn_search = document.getElementById('btn-search');
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value; //검색값 input hidden에 할당
        document.getElementById('page').value = 1 // page=1부터 검색
        document.getElementById('search-form').submit();  // get 전송
    })
</script>
{% endblock %}