{% for comment in comment_list %}
<div class="comment-row">
    <span>{{ comment.content }}</span>
    <span>- {{ comment.user.username }}님</span>&nbsp;
    <span><i class="fa-solid fa-clock"></i>{{ comment.created_at }}</span>
    {% if current_user.is_authenticated %}
    <div style="margin-left: 10px;">
        <a href="">대댓글</a>
        <a href="">추천</a>
        {% if current_user.nickname == comment.user.nickname %}
        <!-- <a class="update" href="{{ url_for('comment.update', comment_id=comment.id )}}">수정</a> -->
        <a class="update" href="#">수정</a>
        <a class="delete" href="{{ url_for('comment.delete', comment_id=comment.id) }}">삭제</a>
        {% endif %}
    </div>
    {% endif %}
</div>
<!-- 댓글수정 -->
<div class="comment-box-update hidden">
    <textarea class="form-control" name="comment-content-update" id="question-comment-update-{{ comment.id }}" rows="1"></textarea>
    <div class="d-flex justify-content-end mt-2">
        <button class="update">댓글수정</button>
    </div>
</div>
<form id="com-update-form-{{comment.id}}" action="{{ url_for('comment.update', comment_id=comment.id) }}" method="post">
    <input type="hidden" id="q-com-update-input-{{ comment.id }}" name="comment">
</form>
{% endfor %}



{% block script %}
<script>
    
    const questionCommentRows = document.querySelectorAll("div.comment-row");
    const questionCommentUpdateBtns = document.querySelectorAll("div.comment-row a.update");
    const commentUpdateBoxes = document.querySelectorAll('.comment-box-update');
    const questionCommentUpdateSaves = document.querySelectorAll(".comment-box-update button.update");

    
    
    let hiddenStatus2 = true;

    questionCommentUpdateBtns.forEach((element, index) => {
        element.addEventListener('click', function() {
            if (hiddenStatus2) {
                commentUpdateBoxes[index].classList.remove('hidden');                
                document.getElementById(`question-comment-update-${index+1}`).value = questionCommentRows[index].querySelector('span:first-child').textContent
            } else {
                commentUpdateBoxes[index].classList.add('hidden');
            }
            hiddenStatus2 = !hiddenStatus2;
            console.log(hiddenStatus2);
        })
    })
        
    Array.from(questionCommentUpdateSaves).forEach((element, index) => {        
        element.addEventListener('click', function() {
            console.log(index);
            document.getElementById(`q-com-update-input-${index+1}`).value = document.getElementById(`question-comment-update-${index+1}`).value;
            console.log('form input에 전달 완료');
            document.getElementById(`com-update-form-${index+1}`).submit();
            console.log("submit완료");
            document.getElementById(`q-com-update-input-${index+1}`).value = '';
        })
    })
</script>
{% endblock %}