{% for comment in comment_list %}
<div class="comment-row" style="display: flex; flex-direction: column;">
    <div style="display: flex;">
        <div>
            <span>{{ comment.content }}</span>
            <span>- {{ comment.user.username }}님</span>&nbsp;
            <span><i class="fa-solid fa-clock"></i>{{ comment.created_at }}</span>
        </div>
        {% if current_user.is_authenticated %}
        <div style="margin-left: 10px;">
            <a href="" style="color: rgb(141, 138, 138);">대댓글</a>
            <a href="#" class='comment-vote' data-uri="{{ url_for('comment.vote', comment_id=comment.id) }}" style="color: rgb(141, 138, 138);">추천{{ comment.voter|length }}</a>
            {% if current_user.nickname == comment.user.nickname %}
            <!-- <a class="update" href="{{ url_for('comment.update', comment_id=comment.id )}}">수정</a> -->
            <a class="update" href="#" style="color: rgb(141, 138, 138);">수정</a>
            <a class="delete" href="#" data-uri="{{ url_for('comment.delete', comment_id=comment.id) }}" style="color: rgb(141, 138, 138);">삭제</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <!-- 댓글수정 -->
    <div class="comment-box-update hidden">
        <textarea class="form-control" name="comment-content-update" id="question-comment-update-{{ comment.id }}" rows="1"></textarea>
        <div class="d-flex justify-content-end mt-2">
            <button class="update">댓글수정</button>
        </div>
    </div>
    <form id="com-update-form-{{loop.index}}" action="{{ url_for('comment.update', comment_id=comment.id) }}" class="q-comment-form" method="post">
        <input type="hidden" id="q-com-update-input-{{ loop.index }}" name="comment" class="q-comment-input">
    </form>
</div>

{% endfor %}



{% block script %}
<script>
    
    // const questionCommentRows = document.querySelectorAll("div.comment-row");
    // const questionCommentUpdateBtns = document.querySelectorAll("div.comment-row a.update");
    // const commentUpdateBoxes = document.querySelectorAll('.comment-box-update');
    // const questionCommentUpdateSaves = document.querySelectorAll(".comment-box-update button.update");
    const qCommentRows = document.querySelectorAll('div.comment-row');
    const qDeleteBtns = document.querySelectorAll("div.comment-row a.delete");
    const commentVoteBtns = document.querySelectorAll("div.comment-row a.comment-vote");

    
    
    let hiddenStatus2 = true;


    qCommentRows.forEach((element, index) => {
        // textarea
        const updateBtn = element.querySelector('a.update'); //수정btn
        const commentUpdateBox = element.querySelector('.comment-box-update'); //hidden box 정의
        const textArea = commentUpdateBox.querySelector('textarea.form-control'); // textarea
        if (updateBtn) {
            // 있으면
            updateBtn.addEventListener('click', function() {
                if (hiddenStatus2) {
                    commentUpdateBox.classList.remove('hidden'); //보이기
                    textArea.value = element.querySelector('span:first-child').textContent;                    
                } else {
                    commentUpdateBox.classList.add('hidden'); //가리기
                }
                hiddenStatus2 = !hiddenStatus2;
            })            
        }

        // 댓글수정 > 저장
        const cUpdateSaveBtn = commentUpdateBox.querySelector('button.update'); //댓글수정버튼
        const cInput = element.querySelector('input.q-comment-input'); //input
        const cForm = element.querySelector('form.q-comment-form'); //form

        cUpdateSaveBtn.addEventListener('click', function() {
            cInput.value = textArea.value;
            cForm.submit();
            textArea.value = '';    
        })



        

    })


    commentVoteBtns.forEach((element, index) => {
        element.addEventListener('click', function() {
            if (confirm('추천??')) {
                location.href = this.dataset.uri;
            }
        })
    })    

    qDeleteBtns.forEach((element, index) => {
        element.addEventListener('click', function() {
            if (confirm('정말 삭제?')) {
                location.href = this.dataset.uri;
            }
        })
    })

    // questionCommentUpdateBtns.forEach((element, index) => {
    //     element.addEventListener('click', function() {
    //         console.log(index)
    //         if (hiddenStats2=true) {
    //             commentUpdateBoxes[index].classList.remove('hidden');
    //         }  
            // if (hiddenStatus2) {
            //     commentUpdateBoxes[index+1].classList.remove('hidden');                
            //     document.getElementById(`question-comment-update-${index+1}`).value = questionCommentRows[index+1].querySelector('span:first-child').textContent
            // } else {
            //     commentUpdateBoxes[index+1].classList.add('hidden');
            // }
            // hiddenStatus2 = !hiddenStatus2;
            // console.log(hiddenStatus2);
    //     })
    // })
        
    // Array.from(questionCommentUpdateSaves).forEach((element, index) => {        
    //     element.addEventListener('click', function() {
            // console.log(index);
            // document.getElementById(`q-com-update-input-${index}`).value = document.getElementById(`question-comment-update-${index}`).value;
            // console.log('form input에 전달 완료');
            // document.getElementById(`com-update-form-${index+1}`).submit();
            // console.log("submit완료");
            // document.getElementById(`q-com-update-input-${index+1}`).value = '';

    //     })
    // })
</script>
{% endblock %}