{% extends 'base.html' %}
{% block content %}

<div class="question-list-container">
    <div class="row">
        <!-- question navigation -->        
        {% include '/snippets/question_list_nav.html' %}
        <!-- question 등록 -->
        <div class="col-10 question-list-table">
            <div class="question-detail-subject">
                <h2>{{ notice.subject }}</h2>
                <div class="badge text-dark bg-light">
                    <span>{{ notice.user.username }}</span>&nbsp;&nbsp;
                    <span>{{ notice.created_at }}</span>
                </div>
            </div>
            <div style="margin-top: 20px;">
                {{ notice.content }}
            </div>
            {% if current_user.username == "유민수" %}
            <div class="question-detail-btn-box">
                <span class="list btn btn-dark" data-uri="{{ url_for('notice.list') }}">목록</span>
                <span class="update btn btn-secondary" data-uri="{{ url_for('notice.update', notice_id=notice.id) }}">
                    수정
                </span>
                <span class="delete btn btn-dark" data-uri="{{ url_for('notice.delete', notice_id=notice.id) }}">삭제</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}