.anton-regular {
    font-family: "Anton", sans-serif;    
    font-style: normal;
  }
header {    
    padding: 20px;
}
.nav-container {
    
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.nav-title {
    font-size: 50px;
}
.nav-btn {
    font-size: 30px;    
}
.nav-btn span {
    margin-left: 30px;
}