.anton-regular {
    font-family: "Anton", sans-serif;    
    font-style: normal;
  }

:root{
    --app-color: rgb(230, 222, 222);
}
a {
    text-decoration: none;
    color: black;
}

header {    
    padding: 20px;
}
.hidden {
    display:none;
}
.nav-container {
    
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.nav-title {
    font-size: 50px;
}
.nav-title:hover {
    cursor: pointer;
}
.nav-btn {
    font-size: 30px;    
}
.nav-btn span {
    margin-left: 30px;
}
.nav-btn span:hover {
    cursor: pointer;
}
.main-body-container {    
    background-color: rgb(230, 222, 222);
    padding: 20px 0 20px 0;
}
.question-list-container {    
    background-color: rgb(230, 222, 222);
    padding: 20px 0 20px 0;
}
/* .question-list-container .question-title {
    display: flex;
    justify-content: space-between;
} */
.question-list-container>div {
    margin:0 auto;
    width: 1200px;
}
.question-list-container .question-list-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 20px 0 0;
}
.question-list-container .question-list-nav a {
    width: 100%;
    padding: 10px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.question-list-container .question-list-nav a:hover {
    background-color: black;
    color: white;
    font-weight: 700;    
}
.question-list-table {
    padding: 20px 40px 20px 40px;
    background-color: white;
}
.question-list-table div.question-list-table-titlebox{
    display: flex;
    justify-content: space-between;
    align-items:start;
}
.question-list-table .question-list-table-titlebox h2 {
    font-weight: 700;
    margin-bottom: 30px;
}
.question-list-table .question-list-table-titlebox input {
    border: solid 1px var(--app-color);
    border-radius: 5px;
    height: inherit;
    
}
.signin-container h2 {
    font-weight: 700;
    padding: 10px 0 10px 0;
    border-bottom: solid 1px var(--app-color);    
}
.signin-container>div {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding:20px;
    border-radius: 10px;
}
.signin-container button {
    width:100%;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: 700;
    margin-top: 10px;    
    border-radius: 7px;
}
.signin-form-element {
    margin-bottom: 10px;    
}
.signin-form-element label{
    font-weight: 700;
}
.question-create-btn{
    display: flex;
    justify-content: end;
    margin-right: 0;
}
.question-detail-subject {
    border-bottom: solid 1px var(--app-color);
}
.question-detail-subject h2 {
    margin-bottom: 10px;
}
.question-detail-btn-box {
    /* display: flex;
    justify-content: end; */
    margin-top: 20px;
    border-bottom: solid 1px var(--app-color);
    padding-bottom: 20px;
    color: rgb(100, 98, 98);
    font-size: 12px;
}
.question-detail-btn-box span{
    margin-left: 10px;
}
.question-list-table h3{    
    margin-top: 30px;
    padding-top: 20px;
    font-weight: 700;
}
div.answer-list-box a{
    font-size: 12px;
    color: rgb(100, 98, 98);
}
.pagination a {
    color:black;
    text-decoration: none;
}
.comment-box {
    margin-top:20px;
}
.comment-box-update {
    margin-top:20px;
}
.comment-box button {
    background-color: var(--app-color);
    border-radius: 5px;    
    font-size: 10px;
    color: black;
    padding: 5px;
    border: solid 1px var(--app-color);
    font-weight: 700;
}
.comment-row {
    display: flex;
    border-bottom: solid 1px var(--app-color);
    padding: 10px;
    font-size: 12px;
}
.comment-box-update button {
    background-color: var(--app-color);
    border-radius: 5px;    
    font-size: 10px;
    color: black;
    padding: 5px;
    border: solid 1px var(--app-color);
    font-weight: 700;
}
.comment-box-update a {
    background-color: var(--app-color);
    border-radius: 5px;    
    font-size: 10px;
    color: black;
    padding: 5px;
    border: solid 1px var(--app-color);
    font-weight: 700;
}