.anton-regular {
    font-family: "Anton", sans-serif;    
    font-style: normal;
  }

:root{
    --app-color: rgb(230, 222, 222);
}


header {    
    padding: 20px;
}
.nav-container {
    
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.nav-title {
    font-size: 50px;
}
.nav-title:hover {
    cursor: pointer;
}
.nav-btn {
    font-size: 30px;    
}
.nav-btn span {
    margin-left: 30px;
}
.nav-btn span:hover {
    cursor: pointer;
}
.main-body-container {    
    background-color: rgb(230, 222, 222);
    padding: 20px 0 20px 0;
}
.question-list-container {    
    background-color: rgb(230, 222, 222);
    padding: 20px 0 20px 0;
}
.question-list-container>div {
    margin:0 auto;
    width: 1200px;
}
.question-list-container .question-list-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 20px 0 20px;
}
.question-list-container .question-list-nav a {
    width: 100%;
    padding: 10px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.question-list-container .question-list-nav a:hover {
    background-color: black;
    color: white;
    font-weight: 700;    
}
.question-list-table {
    padding: 20px;
    background-color: white;
}
.signin-container h2 {
    font-weight: 700;
    padding: 10px 0 10px 0;
    border-bottom: solid 1px var(--app-color);
    margin-bottom: 30px;
}
.signin-container>div {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding:20px;
    border-radius: 10px;
}
.signin-container button {
    width:100%;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: 700;
    margin-top: 10px;    
    border-radius: 7px;
}
.signin-form-element {
    margin-bottom: 10px;    
}
.signin-form-element label{
    font-weight: 700;
}